body {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

.md-content h1,.md-content h2,.md-content h3,.md-content h4,.md-content h5,.md-content h6 {
    position: relative;
    font-weight: 600;
    outline: none;
    color: #36464e;
}


